$color-coral: coral;
$color-black: black;
.recipe {
    width: 100%;
    margin-top: -2rem;
    background-color:coral;
}
.recipe-name {
    background-color: $color-coral;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
h5 {
    padding: 0.5rem 1rem;
    color: $color-black;
}
h4 {
    text-align: center;
    margin-top: 1rem;
    color: $color-black;
}

h5:hover {
    text-decoration: underline;
    cursor: pointer;
}
.ingredients {
    width: 100%;
    margin: 0 auto;
}
ul {
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    color: $color-black;
}

li {
    width: 97%;
    border: thin solid #EEEEEE;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    margin: 1rem auto 0 auto;
}

#delete-btn, #show-edit-btn {
    width: 6rem;
    margin-left: 1rem;
}