.recipe-container {
    background-color: #395CA9;  
    width: 100%;
    height: auto;
    color: white;
    margin: -2rem auto 0 auto;
    font-size: 1.5rem;
    padding: 1rem;
}

.collapsible-container {
    width: 100%;
    margin: 0 auto 2rem auto;
    border: 0;
}


