@import './styles/collapsible.scss';
$font: aspire;

@font-face {
  font-family: $font;
  src: url('./assets/fonts/Aspire-DemiBold.ttf');
}

.app {
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  font-family: $font, sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: 1rem;;
}

#btn-add {
  width: 10rem;
  height: 2rem;
  background-color: $color-coral;
  margin: 1rem 0;
}